body {
  text-align: center;
  background-color: #011f3f;
}

.app {
  margin: 0;
  padding: 0;
  width: 100%;
}

#level-title, #level-title-main {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2% 2% 0;
  color: #FEF2BF;
  margin: 0;
}

#level-title-main {
  margin-bottom: 0;
}

.level-title-red {
  color: rgb(231, 26, 26);
}

.container {
  display: block;
  width: 100%;
  margin: auto;

}

.btn {
  position: relative;
  margin: 1vw;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  outline: none;
  /* rotate: 0deg; */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#top {
  display: none;
}

#how-to, #play {
  position: relative;
  top: 20%;
  cursor: pointer;
  margin: 0;
  height: 50px;
  font-size: 1.5rem;
  background-color: #011f3f;
  color: #FEF2BF;
  font-weight: 1000;
  border-radius: 15px;
  outline: none;
}

#how-to {
  left: 0;
  margin-bottom: 30px;
}

#paly {
  right: 0;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.block {
  display: block;
}

.purple {
  background-color: #46091b;
}

.tips-btn {
  width: 25%;
  margin: auto;
  text-align: center;
  background-color: #fff;
  color: black;
  padding: 5px 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: 150%;
}

.close {
  text-align: center;
  color: white;
  background-color: #46091b;
  /* display: inline-block; */
  width: 30px;
  height: 30px;
  float: right;
  font-size: 3rem;
  line-height: 2rem;
  cursor: pointer;
  padding: 4px 6px 7px 6px;
  border: 2px solid white;
  border-radius: 100%;
}

.pointer {
  cursor: pointer;
}

.tips-btn:hover {
  background-color: #000;
  color: #fff;
}

.tips-btn:active {
  background-color: #fff;
  color: #000;
}

.how-to-heading {
  text-align: center;
}

.how-to-play {
  max-width: 800px;
  margin: auto;
  color: white;
  text-align: justify;
  padding: 10px 20px 50px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 550px) {
  .btn {
    height: 170px;
    width: 170px;
  }
}

@media only screen and (max-width: 400px) {
  .btn {
    height: 200px;
    width: 200px;
  }
}

@keyframes shake {
  from {transform: rotate(0deg);}
  to {transform: rotate(30deg);}
}

@keyframes shake2 {
  from {transform: rotate(30deg);}
  to {transform: rotate(0deg);}
}

.rotateFwd {
  animation-name: shake;
  animation-duration: 0.05s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}

.rotateBwd {
  animation-name: shake2;
  animation-duration: 0.05s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}

footer {
  color: white;
  position: relative;
  bottom: 0;
  margin: auto;
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
}
