body {
  text-align: center;
  background-color: #011f3f;
}

.app {
  margin: 0;
  padding: 0;
  width: 100%;
}

#level-title, #level-title-main {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2% 2% 0;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 100%;
  margin: auto;

}

.btn {
  margin: 1vw;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#top {
  display: none;
}

#how-to, #play {
  position: relative;
  top: 20%;
  cursor: pointer;
  margin: 0;
  height: 50px;
  font-size: 1.5rem;
  background-color: #011f3f;
  color: #FEF2BF;
  font-weight: 1000;
  border-radius: 15px;
}

#how-to {
  left: 0;
  margin-bottom: 30px;
}

#paly {
  right: 0;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.block {
  display: block;
}

.purple {
  background-color: #46091b;
}

.tips-btn {
  width: 25%;
  margin: auto;
  text-align: center;
  background-color: #fff;
  color: black;
  padding: 5px 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: 150%;
}

.close {
  color: white;
  background-color: #46091b;
  float: right;
  font-size: 2rem;
  cursor: pointer;
  padding-bottom: 20px;
}

.tips-btn:hover {
  background-color: #000;
  color: #fff;
}

.tips-btn:active {
  background-color: #fff;
  color: #000;
}

.how-to-heading {
  text-align: center;
}

.how-to-play {
  color: white;
  text-align: left;
  padding: 10px 20px 50px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 550px) {
  .btn {
    height: 170px;
    width: 170px;
  }
}

@media only screen and (max-width: 400px) {
  .btn {
    height: 200px;
    width: 200px;
  }
}

footer {
  color: white;
  position: relative;
  bottom: 0;
  margin: auto;
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
}
